{% extends 'base.html.twig' %}

{% block title %}Ortho-memory{% endblock %}

{% block body %}
<!-- Tailwind CSS example -->

        <div>
            <img src="{{ asset('./images/home-pic.jpg') }}" alt="Ortho-Memory" class="w-full h-full border-b-2 border-gray-500  border-solid">

            {# <a  href="{{ path('app_login') }}" class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-10"> #}
                <!-- Introduction section -->
                {# <div class="bg-white shadow-md rounded-lg px-6 py-8 mx-5 hover:translate-y-1 duration-200 hover:bg-gray-2   00">
                    <h2 class="text-2xl font-semibold mb-4 text-center">Login pour commencer</h2>
                </div> #}
            {# </a> #}
        </div>
    

{% endblock %}
